<div class="container">
  <br/>
    <h1 class="d-flex justify-content-center">Patient Management System</h1>
  <br/>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
        
      <li class="nav-item">
        <button routerLink="viewAppointment"
        class="m-1 btn btn-light btn-outline-primary" Button>View Appointment</button>
      </li>

      <li class="nav-item">
          <button routerLink="patientDetails"
            class="m-1 btn btn-light btn-outline-primary" Button>Add Patient</button>
      </li>
        
    </ul>
  </nav>

  <router-outlet></router-outlet> 

</div>
